<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='confirmation_page.css')}}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Registration Confirmation</title>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center full-height">
            <h1>Thank You</h1>
            <p><em>Your registration has been confirmed through < {{ email }} >.</em></p>
        </div>
        <footer class="text-center">
            <hr>
            <p><a href="https://thercpery.herokuapp.com/" target="_blank">RC Pery</a></p>
        </footer>
    </div>
</body>
</html>