[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-cors = "*"
werkzeug = "==2.0.0"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
